.MenuHijo{
	background: #fff;
	display: grid;
	justify-content: space-around;
	padding: 0;
	grid-template-columns:repeat(6, 1fr);
}
.MenuHijo .MenuHijo2{
	list-style:none;
	text-align:center;
	display:block;
	border-right:1px solid rgba(0,0,0,0.2);
}
.MenuHijo .MenuHijo2:last-child{
	border-right:none;
}
.MenuIcon{
	text-decoration: none;
	display: block;
	background: #fff;
}
.MenuIcon .icon{
	height:40px;
	text-align:center;
	overflow: hidden;
	margin: 0 auto 10px;
}
.MenuIcon .icon .fa{
	width: 100%;
	height: 100%;
	line-height: 40px;
	font-size: 34px;
	transition: 0.5s;
	color:#000; 
}
.MenuIcon .icon .fa:last-child{
	color:#e91e63;	
}
.MenuIcon:hover .icon .fa{
	transform: translateY(-100%);
}

.MenuIcon .name{
	position: relative;
	height: 20px;
	width: 100%;
	display: block;
	overflow: hidden;
}
.MenuIcon .name span {
	display:block;
	position:relative;
	color:#000;
	font-size: 18px;
	line-height:20px;
	transition:0.5s;

}
.MenuIcon .name span:before {
	content: attr(data-text);
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	color: #e91e63;
	
}
.MenuIcon:hover .name span{
	transform: translateY(20px);
}
.menuToggle{
	position: fixed;
	top: 30px;
	right: 30px;
	background: #fff;
	padding: 10px;
	font-weight: bold;
	border-radius: 4px;
	cursor: pointer;
	display: none;
}

/*@media (max-width: 992px) {

	.MenuHijo{
		padding: 0;
		width: 90%;
		display: block;
		overflow: hidden;
		transition:  0.5s;
	}
	
	.MenuHijo .MenuHijo2{
		border-bottom: 1px solid rgba(0,0,0,0.2);
		display: 10px 0;
		display: flex;
	}
	.MenuHijo .MenuHijo2:last-child{
		border-bottom: none;
	}
	.MenuHijo .MenuHijo2 .MenuIcon{
		padding: 0 20px;
	}
		.MenuHijo .MenuHijo2 .MenuIcon .icon{
			display: inline-block;
			float: left;
			margin: 0 auto;
		}
		.MenuHijo .MenuHijo2 .MenuIcon .name{
			width: auto;
			display: inline-block;
			margin: 10px;
		}

}*/