/*Estilos de menu*/
*{
	box-sizing: border-box;
}

html{
	height: 100%;
}
body{
	height: 100%;
	margin: 0;
	padding: 0;
	background:#e9ecf4;
	color: #000;
	font-family: 'Poppins', sans-serif;
	background-attachment: fixed;
	display: grid;
}
.contenedor{
	width: 100%;
	display: grid;
	grid-gap: 1px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(7, auto);

	grid-template-areas:    "header header header"
							"slideshow slideshow slideshow"
							"contenido contenido contenido"
							"ContMenu2 ContMenu2 ContMenu2"
							"widget-1 widget-2 sidebar"
							"container-2 container-2 container-2"							
							"footer footer footer";
}
.contenedor > div, .contenedor .header, .contenedor .contenido, .contenedor .sidebar{
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.menu{
	position: relative;
	max-width: 100%;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	background: #fff;
	box-sizing: border-box;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	color: #fff;
	z-index: 999;
	grid-area:header;

}
.fixed{
	position: fixed ;
	background:red;
}
.fixed #nav1 .menu-lis .menu-lis2 .menu-list3{
	color: #000;
}
#nav1{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.clearfix{
	clear: both;
}
#nav1 .menu-lis{
	margin: 0;
	padding: 0;
	display: flex;
}
#nav1 .menu-lis .menu-lis2{
	list-style:none;
} 
#nav1 .menu-lis .menu-lis2 .menu-lis3{
	display: block;
	margin: 10px 0;
	padding: 10px 20px;
	text-decoration: none;
	color: #262626;
}
#nav1 .menu-lis .menu-lis2 .menu-lis3 .active,
#nav1 .menu-lis .menu-lis2 .menu-lis3:hover{
	background: #ff2f2b;
	color: #fff;
	transition: 0.5s;
}

@media (max-width: 1200px) {
	header{
		margin: 20px;
	}
	

}
@media (max-width: 768px) {
	.menu-toggle {
		display: block;
		width: 40px;
		height: 40px;
		margin: 10px;
		float: right;
		cursor: pointer;
		text-align: center;
		font-size: 30px;
		color: red;
	}
	.menu-toggle:before{
	content: '\f0c9';
	font-family: fontawesome;
	line-height: 40px;
}
.menu-toggle.active:before{
	content: '\f00d';
}
#nav1{
	display: none;
}
#nav1.active{
	display: block;
	width: 100%;
}
#nav1.active .menu-lis{
	display: block;
}
#nav1.active .menu-lis .menu-lis2 .menu-list3{
	margin: 0;
}
}
/*Fin del menu*/
/*Estilos de grid*/
.contenedor .contenido{
	grid-area:contenido;
	text-align: justify;
	height: 100%;
}
.contenedor .ContMenu2{
	grid-area:ContMenu2;
	text-align: justify;
}
.contenedor .ContMenu2{
	background: #fff;
	padding: 0;
	border-radius: 4px;
}
.contenedor .slideshow{
	grid-area: slideshow;
}
.contenedor .sidebar{
	grid-column: 3 / 4;
	background:#faa43d;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height:100px;
	grid-area:sidebar;

}
.contenedor .widget-1, .contenedor .widget-2{
	background:#55a8fd;
	color:#fff;
	height: 100px;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor .widget-1{
	grid-area:widget-1;
	height: 100%;
}
.contenedor .widget-2{
	grid-area:widget-2;
	height: 100%;
}
.contenedor .container-2{
	color:#000;
	grid-area:container-2;
	height: 100%;
}
.contenedor .footer{
	background:#12203e;
	color:#fff;
	padding: 20px;
	grid-area:footer;
}

@media screen and (max-width:768px){
	.contenedor{
		grid-template-areas:"header header header"
							"slideshow slideshow slideshow"
							"contenido contenido contenido"
							"ContMenu2 ContMenu2 ContMenu2"
							"sidebar sidebar sidebar"
							"widget-1 widget-1 widget-1"
							"container-2 container-2 container-2"
							"footer footer footer";
	}
	.contenedor	.widget-2{
			display: none;
		}
}
@media  only screen and (max-width:524px){
	.contenedor .MenuHijo{
	
		grid-template-columns: repeat(3, 1fr);
	}
	.Menu-Hijo{
		grid-template-columns: repeat(3, 1fr);
	}
		.container{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}
.container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
}
.box:hover, .content:active{
	background-color: #2196f3;	
	color: #fff;

}
.container .box:hover .content{
	position: relative;
	z-index: 1;
	transition: .35s;
}
.container .box:hover .content{
	background-color:#2196f3; 
	color: #fff;
}
.container .box:hover .titulo{
	color: #fff;
}
.container .box:hover .icon2{
	color: #fff;
}
.content {
	color: #71777f;
	font-family: Arial,sans-serif;
}
.titulo{
	color: #003f8c;
	font-size: 18px;
	display: flex;
	justify-content: center;
}
.texto{
	display: flex;
	text-align: justify;
	padding: 0 15px;

}
.box{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon2{
	width: max-content;
	font-size: 50px;
	color: #003f8c;
		
}
.con-til{
	color: #003f8c;
}
.fas{

}
a.ex1:hover, a.ex1:active {
	color: #fff;
	background-color: #2196f3;	
}
/*Fin de Grid*/
